body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F9FF;
}

.section {
    height: 100vh;
}

.container {
    width: 400px;
    padding: 0 15px;
    position: relative;
}

.centered-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-columns {
    display: flex;
}

.column1 {
    flex: 65%;
}

.column2 {
    flex: 35%;
    position: relative;
    /* Для абсолютного позиционирования дочернего элемента (изображения) */
}

.column2 img {
    width: 100%;
    /* Занимает всю доступную ширину колонки */
    height: 100vh;
    /* Занимает всю высоту видимой части экрана */
    object-fit: cover;
    /* Обрезает и расширяет изображение так, чтобы оно полностью заполнило контейнер */
}

@media (max-width: 1000px) {
    .column2 {
        display: none;
    }
}

.sct1-h1 {
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;

    margin-bottom: 8px;
}

.success-notific {
    padding: 10px 15px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 10px;
    background: #13C525;

    margin-bottom: 8px;
}

.danger-notific {
    padding: 10px 15px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 10px;
    background: #F13D3D;
    ;
}

.form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-block {
    display: grid;
}

.form-hite {
    margin-left: 20px;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.input {
    padding: 19px 24px 15px 24px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    color: #5A5A5A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.5px;
}

.email {
    margin-bottom: 25px;
}

.confirmation-toggle {
    display: inline-flex;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2655FF;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2655FF;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sct1-h2 {
    color: #5A5A5A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
}

.btm {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
}

.forgot-passw {
    text-align: right;
    margin-left: auto;
}

.send-form-btn {
    width: 100%;
    color: #FFF;
    padding: 16px 28px;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: center;

    border-radius: 10px;
    border: 1px solid #2655FF;
    background: #2655FF;
    box-shadow: 0px 0px 0px 4px #DFE6FF, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}

.dne {
    display: flex;
    margin-top: 9px;
    margin-bottom: 40px;
    justify-content: center;
}

.dne-txt1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dne-txt2 {
    color: #2655FF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    margin-left: 5px;
}

.link2 {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link2-txt {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 14.5px;
}

.link2-centered-content {
    display: flex;
    justify-content: center;
}

.column2 .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100px;
    z-index: 1;
    /* Выше изображения */
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 0px 5px;
}

.overlay-txt {
    padding: 20px 9px;

    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 10px;
    background: rgba(210, 228, 255, 0.30);
    backdrop-filter: blur(50px);
}